@keyframes blink {
    0%, 80% {
        content: url('hello.png'); 
    }
    85% {
        content: url('hello2.png'); 
    }
    90% {
        content: url('hello3.png'); 
    }
    95% {
        content: url('hello2.png'); 
    }
    100% {
        content: url('hello.png'); 
    }
    
}

.container img {
    animation: blink 4.0s infinite alternate; 
}





* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(224, 200, 204);
    margin: 0;
}

#imprimir::placeholder {
    text-align: center;
    color: rgba(242, 14, 215, 0.18); 
}

#imprimir:focus {
    outline: none;
}

.container {
    border: 2px solid #f814b4;
    border-radius: 10px;
    padding: 20px;
    width: 320px;
    background-color: #FFC0CB; 
    box-shadow: 0 4px 8px rgba(247, 5, 166, 0.6); 
    cursor: url(paw2.png), auto;
}

.text input {
    width: 100%;
    height: 40px;
    font-size: 24px;
    margin-bottom: 20px;
    color: #f814b4;
    padding: 5px;
    border: 2px solid #FF69B4; 
    border-radius: 5px;
    text-align: right;
    box-sizing: border-box; 
    cursor: url(paw2.png), auto;
}

.img {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.img img {
    width: 200px; 
}

button {
    color: #e40a8c;
    padding: 10px;
    margin: 5px;
    font-size: 22px;
    border: 2px solid #d6213b;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 22%; 
    background-color: #f7d2e2;
    cursor: url(paw2.png), auto;
    box-sizing: border-box;
}

button:hover {
    background-color: #FFA500;
}

button#calcular,
button#delet { 
    color: rgb(236, 11, 142);
}

button#cal


* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(224, 200, 204);
    margin: 0;
}

#imprimir::placeholder {
    text-align: center;
    color: rgba(242, 14, 215, 0.18); 
}

#imprimir:focus {
    outline: none;
}

.container {
    border: 2px solid #f814b4;
    border-radius: 10px;
    padding: 20px;
    width: 320px;
    background-color: #FFC0CB; 
    box-shadow: 0 4px 8px rgba(247, 5, 166, 0.6); 
    cursor: url(paw2.png), auto;
}


.text input {
    width: 100%;
    height: 40px;
    font-size: 24px;
    margin-bottom: 20px;
    color: #f814b4;
    padding: 5px;
    border: 2px solid #FF69B4; 
    border-radius: 5px;
    text-align: right;
    box-sizing: border-box; 
    cursor: url(paw2.png), auto;
}

.img {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.img img {
    width: 200px; 
}

button {
    color: #e40a8c;
    padding: 10px;
    margin: 5px;
    font-size: 22px;
    border: 2px solid #d6213b;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 22%; 
    background-color: #f7d2e2;
    cursor: url(paw2.png), auto;
    box-sizing: border-box;
}

button:hover {
    background-color: #FFA500;
}

button#calcular,
button#delet { 
    color: rgb(236, 11, 142);
}

button#calcular:hover,
button#delet:hover { 
    background-color: #FFA500;
}

.lineone,
.linetwo,
.linethree,
.linefour, .linezero { 
    display: flex;
    justify-content: space-between;
}

#bMode {
    position: absolute;
    top: 10px;
    width: 180px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

#dark {
    background-color: #292828;
    cursor: url(batluva.png), auto;
}

#dark #bMode {
    border: 2px solid #ffeb3b; 
    color: white;
    background-color: #333333; 
    cursor: url(batluva.png), auto;
}

#dark #bMode:hover {
    background-color: #444444; 
}

@keyframes descer2 {
    from {
        position: relative;
        top: -100%;
    }
    to {
        position: relative;
        top: 0%;
    }
}

#dark .container {
    border: 2px solid #ffeb3b; 
    background-color: #1a1a1a; 
    box-shadow: 0 4px 8px #505c7c; 
    cursor: url(batluva.png), auto;
}

#dark #imprimir {
    border: 2px solid #333333; 
    outline: 2px solid #ffeb3b; 
    cursor: url(batluva.png), auto;
    color: black;
}

#dark #imprimir::placeholder {
    color: rgba(249, 226, 18, 0.5); 
    cursor: url(batluva.png), auto;
}

#dark #imprimir:focus {
    color: black;
}

#dark .num, #dark .linezero button {
    color: white;
    border: 2px solid #ffeb3b; 
    background-color: #333333; 
    cursor: url(batluva.png), auto;
}

#dark .num:hover, #dark .linezero button:hover {
    background-color: #555555; 
}

#dark #calcular, #dark #delet {
    border: 2px solid #ffeb3b; 
    color: white;
    background-color: #444444; 
    cursor: url(batluva.png), auto;
}

#dark #calcular:hover, #dark #delet:hover {
    background-color: #666666; 
}

#dark #logo {
    width: 240px;
    cursor: url(batluva.png), auto;
}
